body{
    background-image: url(images/food2.avif);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

main{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: 'Raleway', sans-serif;
}

#title{
    text-align: center;
    color: #333;
}

#description{
    text-align: center;
    color: #333;
    font-style: italic;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

#impressed{
    color: #555;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"],
select,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

label, p{
    font-weight: 600;
}

input[type="file"] {
    margin-top: 5px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: #45a049;
}